<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @source.author %>
</p>

<p>
  <strong>Version:</strong>
  <%= @source.version %>
</p>

<p>
  <strong>Website:</strong>
  <%= @source.website %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @source.repository %>
</p>

<p>
  <strong>Instances:</strong><br />
  <% @source.source_instances.each do |si| %>
    - <%= link_to si, si %><br />
  <% end %>
</p>

<p>
  <strong>Groups:</strong><br />
  <% @source.groups.each do |g| %>
    - <%= link_to g, g %><br />
  <% end %>
</p>

<p>
  <strong>This source can be used in these widgets:</strong><br />
  <% @source.widgets.each do |c| %>
    - <%= link_to c, c %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
