<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @widget %>
</p>

<p>
  <strong>Author:</strong>
  <%= @widget.author %>
</p>

<p>
  <strong>Version:</strong>
  <%= @widget.version %>
</p>

<p>
  <strong>Website:</strong>
  <%= @widget.website %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @widget.repository %>
</p>

<p>
  <strong>Instances:</strong><br />
  <% @widget.widget_instances.each do |ci| %>
    - <%= link_to ci, ci %><br />
  <% end %>
</p>

<p>
  <strong>Groups:</strong><br />
  <% @widget.groups.each do |g| %>
    - <%= link_to g, g %><br />
  <% end %>
</p>

<p>
  <strong>This widget can use data from the following sources:</strong><br />
  <% @widget.sources.each do |s| %>
    - <%= link_to s, s %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
